<% user_type = get_user_type() %>
<div class="well">
  <h3><%= source.name %></h3>
  <p><%= source.descripccion %></p>
  <p><span class="label label-info"><i class="icon-tag"></i> <%= source.category %> </span></p>
  <%= link_to source_path(source),:class=>"btn btn-success" do %>
      <i class="icon-eye-open"></i> view
  <% end %>
  <% if user_type == :student then  %>
      <%= link_to edit_source_path(source),:class=>"btn btn-info" do %>
          <i class="icon-edit"></i> edit
      <% end %>
  <% end %>
  <%= link_to source_notes_path(source),:class=>"btn btn-info" do %>
      <i class="icon-pencil"></i> notes
  <% end %>
  <% if user_type ==:student then  %>
      <%= link_to source, method: :delete, :class=>"btn btn-danger" do %>
          <i class="icon-trash"></i> remove
      <% end %>
  <% end %>
</div>