<% user_type = get_user_type() %>
<%= render_title "Ingresar Fuente", "ingresa los datos para agregarle una fuente a tu tesis" %>
<div class="container">

  <% if user_type =="student" then  %>
      <%= form_for @source,:url => {:validate => true, :action => "index" }, :html => {:multipart=>"true"} do |f|%>
          <div class="control-group">
            <%= label_tag :name,nil ,:class=>"control-label",:for=>:name %>
            <div class="controls">
              <%= f.text_area :name , :size=>"2x1" %>
            </div>
          </div>
          <div class="control-group">
            <%= label_tag :descripccion,nil , :class=>"control-label", :for=>:descripccion %>
            <div class="controls">
              <%= f.text_area :descripccion , :size=>"5x5" %>
            </div>
          </div>
          <!--%= form_tag( {:action => "index"},:multipart=>"true",:class => "form-horizontal") do  %!-->


          <!--div class="control-group">
            %= label_tag :name,nil ,:class=>"control-label",:for=>:name %>
            <div class="controls">
              %= text_field_tag :name %>
            </div>
          </div>>


          <div class="control-group">
            %= label_tag :descripccion,nil , :class=>"control-label", :for=>:descripccion %>
            <div class="controls">
              %= text_area_tag :descripccion,nil,:size=>"5x5", :id=>:descripccion%>
            </div>
          </div!-->


          <div class="control-group">
            <%= label_tag :path,nil ,:class=>"control-label",:for=>:path%>
            <div class="controls">
              <%= file_field_tag 'dataFile' %>
            </div>
          </div>

          <div class="control-group">
            <%= label_tag :category,nil ,:class=>"control-label",:for=>:category %>
            <div class="controls">
              <input placeholder="by category" type="text" name="<%= :category %>"
                     autocomplete="off" data-provide="typeahead"  data-source='<%= Source.get_default_categories %>' />
            </div>
          </div>

          <br>
          <!--%= submit_tag "Create" ,:class=>"btn btn-primary"%!-->
          <%= f.submit "Create" , :class=>"btn btn-primary" %>
      <% end %>
  <% else %>
      <%= Only students can add sources %>
  <% end %>
</div>


