<%= render_title "Enter a meeting", "Enter the data to create a thesis reunion " %>
<div class="container">

  <%= form_tag( {:action => "index"},:multipart=>"true",:class => "form-horizontal") do  %>


      <div class="control-group">
        <%= label_tag :fecha,nil ,:class=>"control-label",:for=>:dateMeeting %>
        <div class="controls">
          <%= date_select :dateMeeting, {:order => [:month, :day, :year],:prompt => true, :start_year => Time.now.year, :end_year => 2019} %>
        </div>
      </div>


      <div class="control-group">
        <%= label_tag :nota,nil , :class=>"control-label", :for=>:nota%>
        <div class="controls">
          <%= text_area_tag :noteMeeting,nil,:size=>"5x5", :id=>:noteMeeting%>
        </div>
      </div>


      <div class="control-group">
        <%= label_tag :path,nil ,:class=>"control-label",:for=>:path%>
        <div class="controls">
          <%= file_field_tag 'dataFile' %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :thesis_id,nil ,:class=>"control-label",:for=>:thesis_id %>
        <div class="controls">
          <%= text_field_tag :thesis_id %>
        </div>
      </div>
      <br>
      <%= submit_tag "Create" ,:class=>"btn btn-primary"%>
  <% end %>
</div>


