<%=  render_title "Notes", "This are the notes you have done for a meeting" %>

<div class="container">
  <% @meeting_notes.each do |n| %>
      <p><%= n.noteText  %></p>
      <p>Created: <%= n.created_at %></p>
      <%= link_to "/"+@meeting_notes.path do %>
          <i class="icon-download"></i> download
      <% end %>
      <%= link_to url_for([n.meeting,n]), method: :delete,:class=>"btn btn-danger", :id=>"delete-#{n.id}" do %>
          <i class="icon-remove"> remove</i>
      <% end %>
      <br>
      <br>

  <% end %>

  <hr>

  <h4>Add a note</h4>
  <%= form_for @meeting_note,:url => { :action => "create" }, :html => {:multipart=>"true"} do |f|%>
      <%= f.text_area :noteText , :size=>"5x5" %>
      <%= f.submit "add note" , :class=>"btn btn-primary" %>
  <div class="control-group">
    <%= label_tag :path,nil ,:class=>"control-label",:for=>:path%>
      <div class="controls">
       <%= file_field_tag 'dataFile' %>
      </div>
    </div>
  <% end %>

</div>

