
<% if session[:user_type] == :student.to_s %>

    <%= render_title @student.name ,"" %>

    <div class="row">

      <div class="span9">
        <h2>Your modules are: </h2>
        <div class="span4 offset2">
          <%= link_to "Art & Practice Review", sources_path,:class=>"btn btn-primary btn-block" %><br>
          <%= link_to "Production", products_path,:class=>"btn btn-primary btn-block" %><br>
          <%= link_to "Activities & Homeworks", products_path,:class=>"btn btn-primary btn-block" %><br>
          <%= link_to "Monitoring & Tasks", meetings_path,:class=>"btn btn-primary btn-block" %><br>
        </div>
      </div>

    </div>

<% else %>

    <%= render_title "Student" , "Aqui puedes ver el estudiante registrado" %>
    <div class="row">
      <div class="span9">
        <p><b>Name</b>: <%= @student.name%></p>
        <p><b>Username</b>: <%= @student.username%></p>
        <p><b>Password</b>: <%= @student.password%></p>
      </div>
    </div>

    <%= link_to 'Back', students_path, :class=>"btn btn-secondary" %>
<% end %>

