<%= form_for @thesis do |f| %>
  <% if @thesis.errors.any? %>
    <div id="error_explanation">
      <h2>Oops! Something happened.</h2>

      <ul>
      <% @thesis.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"please provide a valid name for the new thesis" %><br />
    <p>Thesis' name <%= f.text_field :name %></p>
    <p>Author

    <% @arrayToShow=Array.new %>
     <% @students=Student.all %>

    <% @students.each do |student| %>
        <% if student.thesis_id.nil?
            @arrayToShow.push(student)
        %>
        <% end %>
    <% end %>

    <%= f.select :student_id, options_from_collection_for_select(@arrayToShow, :username,:username), require:true%>
     </p>
  </div>
  <%= submit_tag "Create Thesis",:class=>"btn btn-primary"%>
<% end %>
