<%= form_for(@thesis) do |f| %>
  <% if @thesis.errors.any? %>
    <div id="error_explanation">
      <h2>Oops! Something happened.</h2>

      <ul>
      <% @thesis.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"please provide a valid name for the thesis process" %><br />
    <%= f.text_field :name %>
  </div>
  <%= submit_tag "Create Thesis",:class=>"btn btn-primary"%>
<% end %>
