<%= render_title "Theses", "these are the theses you are managing, professor"%>


<% if @theses.count<1   %>
    <p>Wow. Scratch that. You are not managing any thesis at the moment professor.</p>
<% else%>

    <table>

      <tr>
        <td><b>Name</b></td>
        <td><b>Author (student)</b></td>
        <td><b>Show</b></td>
        <td><b>Destroy</b></td>
      </tr>

      <%@theses.each do |thesis| %>
          <tr>
            <td width="15%"><%= thesis.name %></td>
            <td width="15%">

            <% @arrayStudents= Student.find_all_by_thesis_id(thesis.id)%>
            <% @arrayStudents.each do |student|  %>
                  <%=  student.name %>
            <% end%>

            </td>
            <td width="15%"><%= link_to 'Show', thesis %></td>
            <td width="15%"><%= link_to 'Destroy', thesis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
    </table>
<% end %>


<br />
<%= link_to 'Create a new Thesis Process', new_thesis_path, :class=>"btn btn-primary" %>