<% if @professor.blank? && @student.blank? %>
    <div class="container">
      <div class="span7 offset2 well">
        <strong>ACCESS DENIED.</strong> Sorry! You must be logged in to access your activities.
      </div>
    </div>
    <% else
        if !@student.blank? %>
            <%= render_title "Thesis", "This is your thesis process" %>
            <div class="container">
              <div class="span6 offset2 well">
                <%= link_to @thesis.name, @thesis, :class => "btn btn-primary btn-block" %><br>
              </div>
            </div>

        <%else %>
          <%= render_title "Theses", "These are the theses you are managing professor" %>
              <%if @theses.count<1   %>
                <p>Wow. Scratch that. You are not managing any thesis at the moment professor.</p>
             <% else %>
                  <div class="container">
                  <% @theses.each do |thesis| %>
                        <div class="span6 offset2 well">
                          <%= link_to thesis.name, thesis, :class => "btn btn-primary btn-block" %><br>
                        </div>
                  <% end %>
                  </div>
            <% end%>
               <%= link_to 'Create a new Thesis Process', new_thesis_path, :class=>"btn btn-primary" %>
    <%end %>
<% end %>


<br />

