<% user_type = get_user_type() %>
<%= render_title "My meetings","listing your current meetings" %>
<div class="row">
  <div id="calendar" class="span9">

  </div>
  <div class="span3">
    <h3>Helpful links</h3>
    <ul class="nav nav-tabs nav-stacked">
      <li >
        <% if user_type == :student then %>
            <i class="icon-calendar"></i> new meeting
        <% end %>
      </li>
      <li>
        <%= link_to theses_path do%>
            <i class="icon-file"></i> go to theses
        <% end %>
      </li>
      <li>
        <%= link_to sources_path do%>
            <i class="icon-book"></i> sources
        <% end %>
      </li>
      <li>
        <%= link_to"#" do %>
            <i class="icon-user"></i> profile
        <% end %>
      </li>
    </ul>

  </div>
</div>

<script>
    $(document).ready(function() {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            events: <%= @events.to_json.html_safe %>,
            eventClick: function(calEvent, jsEvent, view) {

                //alert('Event: ' + calEvent.id);
                window.location="/events/"+calEvent.id;
                $("span").addClass('btn');

            }
        });

    });
</script>

<br />

