<p id="notice"><%= notice %></p>


<h2><%= @event.title %></h2>


<p>
  From <%= @event.start%> to <%= @event.end %>

</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
